#DAR Credentials
DAR_DEPLOYMENT_URL = ""
DAR_BASE_URL = ""
DAR_CLIENT_ID = ""
DAR_CLIENT_SECRET = ""
DAR_AUTH_URL = ""

# RAG Endpoint
RAG_ENDPOINT = ""

#S/4HANA URL
BASE_URL = ""
USER = ""
PASSWORD = ""
